<div align="center">        
  <table width="500">
      <tr>
          <td>
              <h2 style="font-family: verdana">Login</h2>
          </td>
      </tr>
      <tr>
        <td>
          <form>
              <div class="imgcontainer">
                  <img src="./doctor.ico" alt="Avatar" class="avatar">
              </div>
              <div class="container">
                <br>
                <label>User Name</label>
                <br>
                <input type="text" placeholder="Enter Username" name="uname" required>
                <br>
                <label>Password</label>
                <br>
                <input type="password" placeholder="Enter Password" name="psw" required>
                <br>
                <button type="submit">Login</button>
              </div> 
          </form>
        </td>
      </tr>
  </table>    
</div>